{{ define "address-changed" }}
    <div class="moj-timeline__item" data-cy="address-changed-event">
        <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">
                Address updated
            </h2>
            <p class="moj-timeline__byline">
                {{ printf "by %v (%v)" .User.DisplayName .User.PhoneNumber }}
            </p>
        </div>
        <p class="moj-timeline__date">
            <time>{{ .Timestamp }}</time>
        </p>
        <div class="moj-timeline__description">
            <ul class="govuk-list govuk-list--bullet">
                <ul class="govuk-list govuk-list--bullet">
                    {{ range .Event.Changes }}
                        {{if eq .FieldName "addressLine1"}}
                            <li><b>Address line 1</b> set to {{ .NewValue }}</li>
                        {{end}}
                        {{if eq .FieldName "addressLine2"}}
                            <li><b>Address line 2</b> set to {{ .NewValue }}</li>
                        {{end}}
                        {{if eq .FieldName "addressLine3"}}
                            <li><b>Address line 3</b> set to {{ .NewValue }}</li>
                        {{end}}
                        {{if eq .FieldName "town"}}
                            <li><b>Town</b> set to {{ .NewValue }}</li>
                        {{end}}
                        {{if eq .FieldName "postcode"}}
                            <li><b>Postcode</b> set to {{ .NewValue }}</li>
                        {{end}}
                        {{if eq .FieldName "county"}}
                            <li><b>County</b> set to {{ .NewValue }}</li>
                        {{end}}
                        {{if eq .FieldName "country"}}
                            <li><b>Country</b> set to {{ .NewValue }}</li>
                        {{end}}
                        {{if eq .FieldName "isAirnamilRequired"}}
                            <li><b>Is airmail required</b> set to {{ .NewValue }}</li>
                        {{end}}
                    {{end}}
                </ul>
            </ul>
        </div>
    </div>
{{ end }}
