{{ define "deputy-order-details-changed" }}
    <div class="moj-timeline__item" data-cy="deputy-order-details-changed-event">
        <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">
               Order details updated
            </h2>
            <p class="moj-timeline__byline">
                {{ printf "by %v (%v)" .User.DisplayName .User.PhoneNumber }}
            </p>
        </div>
        <p class="moj-timeline__date">
            <time>{{ .Timestamp }}</time>
        </p>
        <div class="moj-timeline__description">
            <ul class="govuk-list govuk-list--bullet">
                <li><b>Order details updated</b> to case {{.Event.OrderType}} {{.Event.OrderCourtRef}} - {{ .Event.OrderUid}} </li>
                <li><b>Type of deputy</b> set to <b>Lay</b></li>
            </ul>
        </div>
    </div>
{{ end }}
