{{ define "deputy-linked-to-order" }}
    <div class="moj-timeline__item" data-cy="deputy-linked-to-order-event">
        <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">
                Deputy linked to order
            </h2>
            <p class="moj-timeline__byline">
                {{ printf "by %v (%v)" .User.DisplayName .User.PhoneNumber }}
            </p>
        </div>
        <p class="moj-timeline__date">
            <time>{{ .Timestamp }}</time>
        </p>
        <div class="moj-timeline__description">
            <ul class="govuk-list govuk-list--bullet">
                {{ if .Event.OrderType }}
                    <li><b>Linked</b> to case {{.Event.OrderType}} {{.Event.OrderCourtRef}} </li>
                    <li><b>Type of deputy</b> set to <b>Lay</b></li>
                {{ end }}
            </ul>
        </div>
    </div>
{{ end }}
