{{ define "person-contact-details-changed" }}
    <div class="moj-timeline__item" data-cy="person-contact-details-changed-event">
        <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">
                Contact details updated
            </h2>
            <p class="moj-timeline__byline">
                {{ printf "by %v (%v)" .User.DisplayName .User.PhoneNumber }}
            </p>
        </div>
        <p class="moj-timeline__date">
            <time>{{ .Timestamp }}</time>
        </p>
        <div class="moj-timeline__description">
            <ul class="govuk-list govuk-list--bullet">
                {{ range .Event.Changes }}
                    {{if eq .FieldName "workPhoneNumber"}}
                        <li><b>Work phone number</b> set to {{ .NewValue }}</li>
                    {{end}}
                    {{if eq .FieldName "mobileNumber"}}
                        <li><b>Mobile number</b> set to {{ .NewValue }}</li>
                    {{end}}
                    {{if eq .FieldName "homePhoneNumber"}}
                        <li><b>Home phone number</b> set to {{ .NewValue }}</li>
                    {{end}}
                    {{if eq .FieldName "email"}}
                        <li><b>Email</b> set to {{ .NewValue }}</li>
                    {{end}}
                {{end}}
            </ul>
        </div>
    </div>
{{ end }}
