{{ define "task-created" }}
    <div class="moj-timeline__item" data-cy="task-created-event">
        <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">
                {{ .Event.TaskType }} task created
            </h2>
            <p class="moj-timeline__byline">
                {{ printf "by %v (%v)" .User.Name .User.PhoneNumber }}
            </p>
        </div>
        <p class="moj-timeline__date">
            <time>{{ .Timestamp }}</time>
        </p>
        <div class="moj-timeline__description">
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    Assigned to {{ .Event.Assignee }}
                </li>
                <li>
                    Due date {{ .Event.DueDate }}
                </li>
                {{ if .Event.Description }}
                    <li>
                        {{ .Event.Description }}
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
{{ end }}
