{{ define "task-created" }}
    <div class="moj-timeline__item" data-cy="task-created-event">
        <div class="moj-timeline__header">
            <h2 class="moj-timeline__title">
                task created
            </h2>
            <p class="moj-timeline__byline">
                Kate 982171982
            </p>
        </div>
        <p class="moj-timeline__date">
            <time>11:31</time>
        </p>
        <div class="moj-timeline__description">
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    Assigned to 
                </li>
                <li>
                    Due date 
                </li>
                Event.Description 
                    <li>
                        Event.Description
                    </li>
                
            </ul>
        </div>
    </div>
{{ end }}
