node_modules
test-results
tmp/
web/static/

# binaries
/main

# IDEs
.idea

.DS_Store
.cache
.gocache

# Cypress cli run artifact folders
cypress/logs
cypress/screenshots
cypress/videos
cypress/downloads