{{ template "page" . }}

{{ define "main" }}
    {{ template "lay-deputy-details" . }}

     <header class="govuk-!-padding-top-1">
        <h1 class="govuk-heading-l  govuk-!-margin-bottom-0  govuk-!-margin-top-0">
            {{ .PageName }}
        </h1>
    </header>

{{ end }}