{{ define "navigation" }}
    <div class="govuk-grid-row govuk-!-margin-top-5  govuk-!-margin-bottom-0">
        <div class="govuk-grid-column-full">
            <nav class="moj-sub-navigation" aria-label="Secondary navigation">
                <ul class="moj-sub-navigation__list">
                    <li class="moj-sub-navigation__item">
                        <a
                            class="moj-sub-navigation__link"
                            aria-current="page"
                            href="#"
                            >Deputy details</a
                        >
                    </li>
                    <li class="moj-sub-navigation__item">
                        <a
                            class="moj-sub-navigation__link"
                            href="#"
                            >Clients</a
                        >
                    </li>

                    <li class="moj-sub-navigation__item">
                        <a
                            class="moj-sub-navigation__link"
                            href="#"
                            >Timeline</a
                        >
                    </li>
                </ul>
            </nav>
        </div>
    </div>
{{ end }}
