{{ define "lay-deputy-details" }}
    {{ if .SuccessMessage }}
        {{ template "success-banner" . }}
    {{ end }}
    {{ template "content-header" . }}
    {{ template "navigation" . }}

<header> </header>
{{ end }}
