{{ define "lay-deputy-header" }}
  {{ if .DeputyDetails.ExecutiveCaseManager.IsDefault }}
        {{ template "default-ecm-banner" .DeputyDetails }}
    {{ end }}

    <a href="#" id="f-back-button" class="govuk-back-link">Back</a>
    <div id="lay-deputy-hub-deputy-name-header-link" class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-m govuk-!-margin-bottom-0">
                {{ .DeputyDetails.Salutation }}
                {{ .DeputyDetails.Firstname }}
                {{ .DeputyDetails.Surname }}
                {{ printf "{{Deputy Name}}"}}
                <label class="govuk-tag govuk-!-margin-left-2"><span class="secondary">{{ printf "{{Status}}"}}</span></label>
            </h1>
            <span class="govuk-caption-m  govuk-!-margin-bottom-2">
                {{ printf "Deputy Number: %v" .DeputyDetails.DeputyNumber }}
            </span>
        </div>
    </div>
{{ end }}